{% load static %}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-layout-mode="dark">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}WSS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Warehouse surveillance system" name="description" />
    <meta content="Haozheng Li" name="author" />
    <!-- App favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'common/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'common/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'common/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'common/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Notification Css-->
    <link href="{% static 'common/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Layout config Js -->
    <script src="{% static 'common/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'common/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'common/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'common/css/custom.min.css' %}" rel="stylesheet" type="text/css" />

    {% block css %} {% endblock %}
</head>

<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box horizontal-logo">
                            <a href="{% url 'dashboard' %}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'common/img/logo/logo-sm.png' %}" alt="" height="32">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'common/img/logo/logo-dark.png' %}" alt="" height="17">
                                </span>
                            </a>

                            <a href="{% url 'dashboard' %}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'common/img/logo/logo-sm.png' %}" alt="" height="32">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'common/img/logo/logo-light.png' %}" alt="" height="24">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger shadow-none" id="topnav-hamburger-icon">
                            <span class="hamburger-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>

                    </div>

                    <div class="d-flex align-items-center">
                        <!-- Maxmize and minimize -->
                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none" data-toggle="fullscreen">
                                <i class='bx bx-fullscreen fs-22'></i>
                            </button>
                        </div>

                        <!-- Dark and light mode switch -->
                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode shadow-none">
                                <i class='bx bx-moon fs-22'></i>
                            </button>
                        </div>

                        {% comment %}
                        <!-- Notification -->
                        <div class="dropdown topbar-head-dropdown ms-1 header-item" id="notificationDropdown">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                                <i class='bx bx-bell fs-22'></i>
                                <span class="position-absolute topbar-badge fs-10 translate-middle badge rounded-pill bg-danger">1<span class="visually-hidden">unread messages</span></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">

                                <div class="dropdown-head bg-primary bg-pattern rounded-top">
                                    <div class="p-3">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-0 fs-16 fw-semibold text-white"> Notifications </h6>
                                            </div>
                                            <div class="col-auto dropdown-tabs">
                                                <span class="badge badge-soft-light fs-13"> 1 New</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="px-2 pt-2">
                                        <ul class="nav nav-tabs dropdown-tabs nav-tabs-custom" data-dropdown-tabs="true" id="notificationItemsTab" role="tablist">
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#all-noti-tab" role="tab" aria-selected="true">
                                                    All (1)
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link" data-bs-toggle="tab" href="#alerts-tab" role="tab" aria-selected="false">
                                                    Alerts
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="tab-content position-relative" id="notificationItemsTabContent">
                                    <div class="tab-pane fade show active py-2 ps-2" id="all-noti-tab" role="tabpanel">
                                        <div data-simplebar style="max-height: 300px;" class="pe-2">
                                            <div class="text-reset notification-item d-block dropdown-item position-relative">
                                                <div class="d-flex">
                                                    <div class="avatar-xs me-3">
                                                        <span class="avatar-title bg-soft-info text-info rounded-circle fs-16">
                                                            <i class="bx bx-badge-check"></i>
                                                        </span>
                                                    </div>
                                                    <div class="flex-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-2 lh-base">Welcome to <b>WSS-web!</b><span class="text-secondary"></span>
                                                            </h6>
                                                        </a>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> Just 30 sec ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="all-notification-check01">
                                                            <label class="form-check-label" for="all-notification-check01"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="my-3 text-center view-all">
                                                <button type="button" class="btn btn-soft-success waves-effect waves-light">View
                                                    All Notifications <i class="ri-arrow-right-line align-middle"></i></button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade p-4" id="alerts-tab" role="tabpanel" aria-labelledby="alerts-tab"></div>

                                    <div class="notification-actions" id="notification-actions">
                                        <div class="d-flex text-muted justify-content-center">
                                            Select <div id="select-content" class="text-body fw-semibold px-1">0</div> Result <button type="button" class="btn btn-link link-danger p-0 ms-3" data-bs-toggle="modal" data-bs-target="#removeNotificationModal">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}

                        <!-- User -->
                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    {% if avatar %}
                                        <img class="rounded-circle header-profile-user" src="{{ avatar }}" alt="Header Avatar">
                                    {% else %}
                                        <div class="header-profile-user bg-soft-success text-white rounded-circle">
                                            <h3 class="mt-1">
                                                {{ username|title|slice:":1" }}
                                            </h3>
                                        </div>
                                    {% endif %}
                                    <span class="text-start ms-xl-2">
                                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{ username }}</span>
                                        <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">User</span>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <h6 class="dropdown-header">Welcome {{ username }}!</h6>
{#                                <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Profile</span></a>#}
{#                                <div class="dropdown-divider"></div>#}
                                <a class="dropdown-item" href="{% url 'account_settings' %}"><span class="badge bg-soft-success text-success mt-1 float-end">New</span><i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Settings</span></a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <!-- removeNotificationModal -->
        <div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-2 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Are you sure ?</h4>
                                <p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!</button>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- ========== Sidebar Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="{% url 'dashboard' %}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'common/img/logo/logo-sm.png' %}" alt="" height="32">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'common/img/logo/logo-dark.png' %}" alt="" height="25">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="{% url 'dashboard' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'common/img/logo/logo-sm.png' %}" alt="" height="32">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'common/img/logo/logo-dark.png' %}" alt="" height="25">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <i class="mdi mdi-speedometer"></i>
                                <span data-key="t-dashboards">Dashboards</span>
                            </a>
                        </li>

                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Management</span></li>

                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'devices_list' %}">
                                <i class="mdi mdi-devices"></i>
                                <span data-key="t-advance-ui">Device</span>
                            </a>
                        </li>

                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Authentication</span></li>

                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'account_settings' %}">
                                <i class="mdi mdi-devices"></i>
                                <span data-key="t-advance-ui">Account settings</span>
                            </a>
                        </li>

                        <li class="menu-title">
                            <i class="ri-more-fill"></i>
                            <span data-key="t-components">Documentation</span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link menu-link collapsed" href="#DeviceAccess" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="DeviceAccess">
                                <i class="mdi mdi-file-document"></i>
                                <span data-key="t-multi-level">Device Access</span>
                            </a>
                            <div class="menu-dropdown collapse" id="DeviceAccess" style="">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'doc_websocket_data_com' %}" class="nav-link collapsed" data-key="t-level-2.1">Websocket</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        {% comment %}
                        <li class="menu-title">
                            <i class="ri-more-fill"></i>
                            <span data-key="t-components">Records</span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'coming_soon' %}">
                                <i class="mdi mdi-clipboard-alert-outline"></i> <span>Event</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'coming_soon' %}">
                                <i class="mdi mdi-hammer-wrench"></i> <span>Operations</span>
                            </a>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>

            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->

        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            {% block content %}
            {% endblock %}

            {% block footer %}
                <!-- Begin footer-->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © WSS.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Developed by Haozheng Li
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End footer-->
            {% endblock %}

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!-- Plugins -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="{% static 'common/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'common/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'common/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'common/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'common/js/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'common/libs/sweetalert2/sweetalert2.min.js' %}"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>

    {% block js %}{% endblock %}

    <!-- App js -->
    <script>
        let activeParentMenuItem = function(li_node){
            let menu_dropdown_node = li_node.parent().parent();
            if (menu_dropdown_node.is("div") && menu_dropdown_node.hasClass('menu-dropdown')){
                menu_dropdown_node.addClass('show');
                menu_dropdown_node.prev().addClass('active');
                return activeParentMenuItem(menu_dropdown_node.parent());
            }
            else return true;
        }
        let top_url = '/' + '{{ request.path }}'.split('/')[1] + '/';
        let full_url = '{{ request.path }}';
        $('ul.navbar-nav li.nav-item').each(function(i){
            let target_a_tag = $(this).children().first();
            if(target_a_tag.attr('href')===top_url || target_a_tag.attr('href')===full_url){
                target_a_tag.addClass('active');
                activeParentMenuItem($(this));
            }
    });
    </script>

<script>
    const notificationSocket = new WebSocket('ws://' + window.location.host + '/ws/notification/');

    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        let message = data.message;
        let duration = data.duration;
        let title = data.title;
        let style = data.style;
        let level = data.level ? data.level: 'success';
        let jump_url = data.jump_url ? 'http://' + window.location.host + data.jump_url : document.URL;
        let refresh = data.refresh;
        let footer = data.footer;
        let notification_type = data.notification_type;

        if (refresh){
            message += `, page will refresh in ${duration/1000}s`;
            window.setTimeout(function(){
                window.location.reload();
            }, duration);
        }

        if (notification_type === "toastify"){
            Toastify({
                text: message,
                destination: jump_url,
                newWindow: false,
                gravity: "top",
                position: "center",
                className: "bg-" + level,
                stopOnFocus: true,
                offset: {x: 0, y: 0,},
                duration: duration,
                close: "close",
                style: style === "gradient" ? {
                    background: "linear-gradient(to right, #0AB39C, #405189)"
                }: ""
            }).showToast();
        }
        else if (notification_type === "swal"){
            Swal.fire({
                title: title,
                text: message,
                icon: ["success", "error", "warning", "info", "question"].indexOf(level)!==-1 ? level : "info",
                confirmButtonClass: 'btn btn-primary w-xs mt-2',
                footer: footer,
                buttonsStyling: false,
                showCloseButton: true
            });
        }


    };
    notificationSocket.onclose = function(e) {
        console.error('Notification socket closed unexpectedly');
    };
</script>
    <script src="{% static 'common/js/app.js' %}"></script>
</body>

</html>