{% extends 'common/accounts_base.html' %}
{% load static %}

{% block title %}Coming soon | WSS{% endblock %}

{% block auth_content %}
<!-- auth page content -->
<div class="auth-page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-sm-5 pt-4 mb-4">
                    <div class="mb-sm-5 pb-sm-4 pb-5">
                        <img src="{% static 'common/img/comingsoon.png' %}" alt="" height="120" class="move-animation">
                    </div>
                    <div class="mb-5">
                        <h1 class="display-2 coming-soon-text">Coming Soon</h1>
                    </div>
                    <div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-lg-8">
                                <div id="countdown" class="countdownlist"></div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Wonderful features coming soon </h4>
                        </div>

                        <div class="mt-5">
                            <h6>Go back to <a href="{% url 'dashboard' %}"><span class="text-primary">dashboard</span></a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>
    <!-- end container -->
</div>
{% endblock %}

{% block js %}
    <!-- particles js -->
    <script src="{% static 'common/libs/particles.js/particles.js' %}"></script>
    <!-- particles app js -->
    <script src="{% static 'common/js/particles.app.js' %}"></script>

    <script>
document.addEventListener("DOMContentLoaded",
    function() {
        let e = new Date("Mar 5, 2023").getTime(),
        d = setInterval(function() {
            var t = (new Date).getTime(),
            t = e - t,
            n = '<div class="countdownlist-item">' +
                '<div class="count-title">Days</div>' +
                '<div class="count-num">'
                + Math.floor(t / 864e5) + '</div></div><div class="countdownlist-item">' +
                '<div class="count-title">Hours</div><div class="count-num">'
                + Math.floor(t % 864e5 / 36e5) +
                '</div></div><div class="countdownlist-item"><div class="count-title">Minutes</div><div class="count-num">'
                + Math.floor(t % 36e5 / 6e4) +
                '</div></div><div class="countdownlist-item"><div class="count-title">Seconds</div><div class="count-num">'
                + Math.floor(t % 6e4 / 1e3) + "</div></div>";
            document.getElementById("countdown") && (document.getElementById("countdown").innerHTML = n),
            t < 0 && (clearInterval(d),
                document.getElementById("countdown").innerHTML = '<div class="countdown-endtxt">The countdown has ended!</div>')
        }, 1e3)
    });
    </script>
{% endblock %}
