{% extends 'common/base.html' %}
{% load static %}
{% load time_filter %}

{% block title %} Device detail | WSS{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Device Details</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'devices_list' %}">Devices</a></li>
                                <li class="breadcrumb-item active">Device Details</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xxl-3">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="d-flex">
                                <h6 class="card-title mb-0 flex-grow-1">Information</h6>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-soft-secondary btn-sm shadow-none" data-bs-toggle="modal" data-bs-target="#editDevice">
                                        <i class="ri-share-line me-1 align-bottom"></i> Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-card">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="fw-medium">Device name</td>
                                            <td class="fw-medium">{{ device.name }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium">Node Type</td>
                                            <td>{{ device.node_type }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium">Device Type</td>
                                            <td>{{ device.device_type }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium">Protocol</td>
                                            <td><span class="badge badge-soft-success">{{ device.protocol|upper }}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title mb-0">Online status</h6>
                        </div>
                        <div class="card-body text-center">
                            {% if device.is_active %}
                                <div class="mb-2">
                                    <lord-icon src="https://cdn.lordicon.com/qghrdngw.json" trigger="loop" delay="1000" colors="primary:#405189,secondary:#02a8b5" style="width:90px;height:90px"></lord-icon>
                                </div>
                                <h3 class="mb-1" id="device_online_time" data-online-time="{{ device.last_online|date:"c" }}"></h3>
                                <h5 class="fs-14 mb-4">Online time</h5>
                                <div class="hstack gap-2 justify-content-center">
                                    <button class="btn btn-success"><i class="ri-play-circle-line align-bottom me-1"></i> ONLINE </button>
                                </div>
                            {% else %}
                                <div class="mb-2">
                                    <lord-icon src="https://cdn.lordicon.com/nmgjlgnk.json" trigger="click" colors="primary:#405189,secondary:#02a8b5" style="width:120px;height:120px"></lord-icon>
                                </div>
                                <h3 class="mb-1 fs-17">Last online</h3>
                                <h5 class="fs-14 mb-4">{{ device.last_online }}</h5>
                                <div class="hstack gap-2 justify-content-center">
                                    <button class="btn btn-danger"><i class="ri-stop-circle-line align-bottom me-1"></i> OFFLINE</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--end card-->

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Operation</h5>
                        </div>
                        <div class="card-body">
                            {% if device.is_active %}
                                <div class="card-body">
                                    <div class="table-card">
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr>
                                                    <td><h4 class="mt-2" style="text-align: left">Profiler <i class="mdi mdi-chart-areaspline"></i></h4></td>
                                                    <td style="text-align: center">
                                                        {% if device.enable_profiler %}
                                                            <button type="button" data-bs-toggle="modal" href="#operation_modal" data-operation_type="profiler" data-operation="disable" class="btn btn-success waves-effect waves-light">Enabled</button>
                                                        {% else %}
                                                            <button type="button" data-bs-toggle="modal" href="#operation_modal" data-operation_type="profiler" data-operation="enable" class="btn btn-danger waves-effect waves-light">Disabled</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><h4 class="mt-2" style="text-align: left">Intruder Detection <i class="mdi mdi-smoke-detector-alert"></i></h4></td>
                                                    <td style="text-align: center">
                                                        {% if device.enable_intruder_detection %}
                                                            <button type="button" data-bs-toggle="modal" href="#operation_modal" data-operation_type="intruder_detection" data-operation="disable" class="btn btn-success waves-effect waves-light">Enabled</button>
                                                        {% else %}
                                                            <button type="button" data-bs-toggle="modal" href="#operation_modal" data-operation_type="intruder_detection" data-operation="enable" class="btn btn-danger waves-effect waves-light">Disabled</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><h4 class="mt-2" style="text-align: left">Restart Device <i class="mdi mdi-restart-alert"></i></h4></td>
                                                    <td style="text-align: center"><button type="button" data-bs-toggle="modal" href="#operation_modal" data-operation_type="restart" data-operation="confirm" class="btn btn-success waves-effect waves-light">Confirm</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/sbiheqdr.json" trigger="hover" colors="primary:#405189,secondary:#02a8b5" style="width:120px;height:120px"></lord-icon>
                                    <h2 class="mb-1 fs-20">Device is offline</h2>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--end card-->

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-3">SDK FILES</h5>
                            <div class="vstack gap-2">
                                <div class="border rounded border-dashed p-2">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-soft-info text-secondary rounded fs-24">
                                                    <i class="ri-file-code-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="fs-13 mb-1"><a href="{% url 'download_sdk' 'python' %}" class="text-body text-truncate d-block">Python SDK</a></h5>
                                            <div>10KB</div>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="d-flex gap-1">
                                                <a href="{% url 'download_sdk' 'python' %}" class="text-muted fs-18 shadow-none"><i class="ri-download-2-line"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vstack gap-2">
                                <div class="border rounded border-dashed p-2">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-soft-primary text-primary rounded fs-24">
                                                    <i class="ri-file-code-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="fs-13 mb-1"><a href="{% url 'download_sdk' 'c++' %}" class="text-body text-truncate d-block">C++ SDK</a></h5>
                                            <div>8KB</div>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="d-flex gap-1">
                                                <a href="{% url 'download_sdk' 'c++' %}" class="text-muted fs-18 shadow-none"><i class="ri-download-2-line"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-->

                </div>
                <!---end col-->
                <div class="col-xxl-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Device Profiler</h4>
                        </div><!-- end card header -->

                        <div class="card-body" id="performance-chart" data-urls="{% url 'get_performance' device.id %}">
                            {% if device.is_active and device.enable_profiler %}
                                <div id="cpu-used-area" data-colors='["--vz-primary"]' class="apex-charts" dir="ltr"></div>
                                <div id="memory-used-area" data-colors='["--vz-warning"]' class="apex-charts" dir="ltr"></div>
                                <div id="disk-used-area" data-colors='["--vz-success"]' class="apex-charts" dir="ltr"></div>
                            {% else %}
                                <div class="noresult" id="performance-no-result">
                                    <div class="text-center">
                                        <lord-icon src="https://cdn.lordicon.com/gqdnbnwt.json" trigger="loop" delay="500" colors="primary:#405189,secondary:#02a8b5" style="width:180px;height:180px"></lord-icon>
                                        {% if not device.is_active %}
                                            <h4 class="mt-2">Device is Offline</h4>
                                            <p class="text-muted mb-0 fs-16">Connect device to trace operation status</p>
                                        {% else %}
                                            <h4 class="mt-2">Device profiler is disabled</h4>
                                            <p class="text-muted mb-0 fs-16">Enable profiler to trace operation status</p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div><!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#event-log" role="tab">
                                            Event Log
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#operation-log" role="tab">
                                            Operation Log
                                        </a>
                                    </li>
                                </ul>
                                <!--end nav-->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="event-log" role="tabpanel" data-urls="{% url 'event_log' device.id%}">
                                    <div class="card-body" id="event-log-noresult">
                                        <div class="noresult" style="display: inline">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="hover"  colors="primary:#405189,secondary:#02a8b5" style="width:100px;height:100px"></lord-icon>
                                                <h5 class="mt-2">No Event Log Found</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="event-log-table" style="display: none">
                                        <h6 class="card-title mb-4 pb-2">Event Log</h6>
                                        <div class="table-responsive table-card">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light text-muted">
                                                    <tr>
                                                        <th scope="col">Event</th>
                                                        <th scope="col">Message</th>
                                                        <th scope="col">Action</th>
                                                        <th scope="col">Image Capture</th>
                                                        <th scope="col">Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="event-log-tbody">
                                                </tbody>
                                            </table>
                                            <!--end table-->
                                        </div>
                                        <div class="d-flex justify-content-end mt-3">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev" href="javascript:void(0)" onclick="page_change('event',false);" id="event-log-previous">
                                                    Previous
                                                </a>
                                                <a class="page-item pagination-next" href="javascript:void(0)" onclick="page_change('event',true);" id="event-log-next">
                                                    Next
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--edn tab-pane-->
                                <div class="tab-pane" id="operation-log" role="tabpanel" data-urls="{% url 'operation_log' device.id%}">
                                    <div class="card-body" id="operation-log-noresult"  style="display: inline">
                                        <div class="noresult">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="hover" colors="primary:#405189,secondary:#02a8b5" style="width:100px;height:100px"></lord-icon>
                                                <h5 class="mt-2">No Operation Log Found</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="operation-log-table" style="display: none">
                                        <h6 class="card-title mb-4 pb-2">Operation Log</h6>
                                        <div class="table-responsive table-card">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light text-muted">
                                                    <tr>
                                                        <th scope="col">Operation</th>
                                                        <th scope="col">Message</th>
                                                        <th scope="col">Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="operation-log-tbody">
                                                </tbody>
                                            </table>
                                            <!--end table-->
                                        </div>
                                        <div class="d-flex justify-content-end mt-3">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev" href="javascript:void(0)" onclick="page_change('operation',false)" id="operation-log-previous">
                                                    Previous
                                                </a>
                                                <a class="page-item pagination-next" href="javascript:void(0)" onclick="page_change('operation',true)" id="operation-log-next">
                                                    Next
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end tab-pane-->

                            </div>
                            <!--end tab-content-->
                        </div>
                    </div>
                    <!--end card-->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Event Imgae Capture</h4>
                        </div><!-- end card header -->
                        <div class="card-body">
                            <div class="noresult" id="event-image-noresult" style="display:none;">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/tyounuzx.json" trigger="hover" colors="primary:#405189,secondary:#02a8b5" style="width:120px;height:120px"></lord-icon>
                                    <h5 class="mt-2">No Event Image Capture Found</h5>
                                </div>
                            </div>
                            <div id="event-image" style="display:inline;">
                                <div class="row" id="event-image-container">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->

            <div class="modal fade zoomIn" id="editDevice" tabindex="-1" aria-labelledby="EditDeviceModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content border-0">
                        <div class="modal-header p-3">
                            <h5 class="modal-title" id="EditDeviceModalLabel">Edit Device</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                        </div>

                        <form class="tablelist-form" autocomplete="off" action="{% url 'edit_device' 1 %}" method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-lg-12">
                                        <label for="device_name" class="form-label">Device Name</label>
                                        <input type="text" name= "device_name" id="device_name" class="form-control" placeholder="Device name" value="{{ device.name }}" required />
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <label for="node_type" class="form-label">Node type</label>
                                        <select class="form-control" name="node_type" id="node_type">
                                            <option value="motion_detect" {% if device.node_type == 'motion_detect' %} selected {% endif %}>Motion detect</option>
                                            <option value="gateway"{% if device.node_type == 'gateway' %} selected {% endif %}>Gateway</option>
                                        </select>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <label for="device_type" class="form-label">Device type</label>
                                        <select class="form-control" name="device_type" id="device_type">
                                            <option value="raspberry_pi" {% if device.device_type == 'raspberry_pi' %} selected {% endif %}>Raspberry Pi</option>
                                        </select>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <label for="protocol" class="form-label">Select Connection Protocol</label>
                                        <div class="hstack gap-2 flex-wrap">
                                            <input type="radio" class="btn-check" name="protocol" id="protocol1" value="Websocket" {% if device.protocol == 'Websocket' %} checked {% endif %}>
                                            <label class="btn btn-outline-primary shadow-none" for="protocol1">Websocket</label>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <label for="sdk" class="form-label">Select SDK</label>
                                        <div class="hstack gap-2 flex-wrap" id="sdk">
                                            <input type="radio" class="btn-check" name="sdk" id="sdk1" value="python" {% if device.sdk == 'python' %} checked {% endif %}>
                                            <label class="btn btn-outline-primary shadow-none" for="sdk1">Python</label>

                                            <input type="radio" class="btn-check" name="sdk" id="sdk2" value="c++" {% if device.sdk == 'c++' %} checked {% endif %}>
                                            <label class="btn btn-outline-primary shadow-none" for="sdk2">C++</label>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" id="edit-btn">Update Device</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end modal-->

            <div class="modal fade flip" id="operation_modal" data-urls='{% url 'operation' device.id %}' aria-labelledby="OperationModalLabel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body p-5 text-center">
                            <lord-icon id="operation-modal-icon" src="https://cdn.lordicon.com/wrprwmwt.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:120px;height:120px"></lord-icon>
                            <div class="mt-2 text-center">
                                <h4 id="operation-modal-title">You are about to delete a device ?</h4>
                                <p class="text-muted fs-14 mb-4">Make sure your operation is correct!</p>
                                <input type="text" name="message" id="operation_message" class="form-control mb-3 mt-2" placeholder="Message (optional)" style="text-align: center"/>
                                <div class="hstack gap-2 justify-content-center remove">
                                    <button class="btn btn-link btn-ghost-success fw-medium text-decoration-none" id="operation-close" data-bs-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i> Close
                                    </button>
                                    <button class="btn btn-danger" id="operation_confirm" data-bs-dismiss="modal">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end operation modal -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
{% endblock %}

{% block js %}
    <script src="{% static 'common/js/csrf.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src="{% static 'common/libs/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'devices/js/device_detail.js' %}"></script>
    <script>

    </script>
{% endblock %}