{% extends 'common/base.html' %}
{% load static %}

{% block title %} Devices List | WSS{% endblock %}

{% block css %}
{% endblock %}



{% block content %}
    <div class="page-content">
        <div class="container-fluid">

            <div class="position-relative mx-n4 mt-n4">
                <div class="profile-wid-bg profile-setting-img">
                    <img src="{% static 'accounts/img/login-bg-7.jpg' %}" class="profile-wid-img" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-3">
                    <div class="card mt-n5">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                    {% if avatar %}
                                        <img class="avatar-xl img-thumbnail user-profile-image shadow" src="{{ avatar }}" alt="user-profile-image">
                                    {% else %}
                                        <div class="avatar-xl user-profile-image shadow bg-soft-success text-white rounded-circle">
                                            <h1 class="mt-1" style="font-size: 8em">
                                                {{ username|title|slice:":1" }}
                                            </h1>
                                        </div>
                                    {% endif %}

{#                                    <img src="assets/images/users/avatar-1.jpg" class="rounded-circle avatar-xl img-thumbnail user-profile-image  shadow" alt="user-profile-image">#}
                                    <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                        <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                                        <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                            <span class="avatar-title rounded-circle bg-light text-body shadow">
                                                <i class="ri-camera-fill"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <h5 class="fs-16 mb-1">{{ username }}</h5>
                                <p class="text-muted mb-0">User</p>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-5">
                                <div class="flex-grow-1">
                                    <h5 class="card-title mb-0">Complete Your Profile</h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="javascript:void(0);" class="badge bg-light text-primary fs-12"><i class="ri-edit-box-line align-bottom me-1"></i> Edit</a>
                                </div>
                            </div>
                            <div class="progress animated-progress custom-progress progress-label">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ profile_complete_percent }}%" aria-valuenow="{{ profile_complete_percent }}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="label">{{ profile_complete_percent }}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-xxl-9">
                    <div class="card mt-xxl-n5">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#personalInfo" role="tab">
                                        <i class="fas fa-home"></i> Personal Info
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                                        <i class="far fa-user"></i> Change Password
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#notification" role="tab">
                                        <i class="far fa-envelope"></i> Notification
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#account" role="tab">
                                        <i class="far fa-envelope"></i> Account
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body p-4">
                            <div class="tab-content">
                                <div class="tab-pane active" id="personalInfo" role="tabpanel">
                                    <form action="javascript:void(0);" id="personalInfoForm">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="usernameInput" class="form-label">Username</label>
                                                    <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Enter your username" value="{{ username }}">
                                                    <span class="text-danger" id="usernameEmptyTip" style="display: none"><i class="las la-exclamation-circle"></i> Username can not be empty</span>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="emailInput" class="form-label">Email Address</label>
                                                    <input type="email" class="form-control" id="emailInput" placeholder="Enter your email" value="{{ email }}" readonly>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="firstnameInput" class="form-label">First Name</label>
                                                    <input type="text" name="first_name" class="form-control" id="firstnameInput" placeholder="Enter your firstname" value="{{ first_name }}">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="lastnameInput" class="form-label">Last Name</label>
                                                    <input type="text" name="last_name" class="form-control" id="lastnameInput" placeholder="Enter your lastname" value="{{ last_name }}">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="phonenumberInput" class="form-label">Phone Number</label>
                                                    <input type="text" name="phone" class="form-control" id="phonenumberInput" placeholder="(xxx)xxx-xxxx" value="{{ phone }}">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="submit" class="btn btn-primary" id="change_personal_info_button">Updates</button>
                                                    <button type="button" class="btn btn-soft-success" onClick="window.location.reload()">Cancel</button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>
                                <!--end tab-pane-->
                                <div class="tab-pane" id="changePassword" role="tabpanel">
                                    <form action="">
                                        <div class="row g-2">
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="oldpasswordInput" class="form-label">Old Password*</label>
                                                    <input type="password" class="form-control" id="oldpasswordInput" placeholder="Enter current password" required>
                                                    <span class="text-danger" id="oldPasswordEmptyTip" style="display: none"><i class="las la-exclamation-circle"></i> Old password can not be empty</span>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="newpasswordInput" class="form-label">New Password*</label>
                                                    <input type="password" class="form-control auth-pass-inputgroup" id="newpasswordInput" placeholder="Enter new password" required>
                                                    <span class="text-danger" id="newPasswordEmptyTip" style="display: none"><i class="las la-exclamation-circle"></i> New password can not be empty</span>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="confirmpasswordInput" class="form-label">Confirm Password*</label>
                                                    <input type="password" class="form-control auth-pass-inputgroup" id="confirmpasswordInput" placeholder="Confirm password" required>
                                                    <span class="text-danger" id="passwordNotMatchTips" style="display: none"><i class="las la-exclamation-circle"></i> Passwords Don't Match</span>
                                                    <span class="text-danger" id="confirmPasswordEmptyTip" style="display: none"><i class="las la-exclamation-circle"></i> Confirm password can not be empty</span>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-12">
                                                <div id="password-contain" class="p-3 bg-light mb-2 rounded" style="display: block">
                                                    <h5 class="fs-13">Password must contain:</h5>
                                                    <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 characters</b></p>
                                                    <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter (a-z)</p>
                                                    <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b> letter (A-Z)</p>
                                                    <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b> (0-9)</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="text-end">
                                                    <button type="button" class="btn btn-success" id="changePasswordButton">Change Password</button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                    {% comment %}
                                    <div class="mt-4 mb-3 border-bottom pb-2">
                                        <h5 class="card-title">Login History</h5>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0 avatar-sm">
                                            <div class="avatar-title bg-light text-primary rounded-3 fs-18 shadow">
                                                <i class="ri-smartphone-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>iPhone 12 Pro</h6>
                                            <p class="text-muted mb-0">Los Angeles, United States - March 16 at 2:47PM</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0 avatar-sm">
                                            <div class="avatar-title bg-light text-primary rounded-3 fs-18 shadow">
                                                <i class="ri-tablet-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>Apple iPad Pro</h6>
                                            <p class="text-muted mb-0">Washington, United States - November 06 at 10:43AM</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0 avatar-sm">
                                            <div class="avatar-title bg-light text-primary rounded-3 fs-18 shadow">
                                                <i class="ri-smartphone-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>Galaxy S21 Ultra 5G</h6>
                                            <p class="text-muted mb-0">Conneticut, United States - June 12 at 3:24PM</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 avatar-sm">
                                            <div class="avatar-title bg-light text-primary rounded-3 fs-18 shadow">
                                                <i class="ri-macbook-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>Dell Inspiron 14</h6>
                                            <p class="text-muted mb-0">Phoenix, United States - July 26 at 8:10AM</p>
                                        </div>
                                    </div>
                                    {% endcomment %}
                                </div>
                                <!--end tab-pane-->
                                <div class="tab-pane" id="notification" role="tabpanel">
                                    <div class="mb-3">
                                        <h5 class="card-title text-decoration-underline mb-3">System Notifications:</h5>
                                        <ul class="list-unstyled mb-0">
                                            <li class="d-flex">
                                                <div class="flex-grow-1">
                                                    <label class="form-check-label fs-14" for="emailNotification">
                                                        Detection event Email notifications
                                                    </label>
                                                    <p class="text-muted"> Email notifications for detection event warn. </p>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="form-check form-switch">
                                                        {% if detection_Email_notification %}
                                                            <input class="form-check-input notification-settings" data-notification-type="detection_Email_notification" type="checkbox" role="switch" id="emailNotification" checked/>
                                                        {% else %}
                                                            <input class="form-check-input notification-settings" data-notification-type="detection_Email_notification" type="checkbox" role="switch" id="emailNotification" />
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mt-2">
                                                <div class="flex-grow-1">
                                                    <label class="form-check-label fs-14" for="sms_notification">
                                                        Detection event SMS notifications
                                                    </label>
                                                    <p class="text-muted">SMS warning message from WSS.</p>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="form-check form-switch">
                                                        {% if detection_SMS_notification %}
                                                            <input class="form-check-input notification-settings" data-notification-type="detection_SMS_notification" type="checkbox" role="switch" id="sms_notification" checked/>
                                                        {% else %}
                                                            <input class="form-check-input notification-settings" data-notification-type="detection_SMS_notification" type="checkbox" role="switch" id="sms_notification"/>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mt-2">
                                                <div class="flex-grow-1">
                                                    <label class="form-check-label fs-14" for="update_notification">
                                                        WSS update notifications
                                                    </label>
                                                    <p class="text-muted">Get the latest update information from WSS</p>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="form-check form-switch">
                                                        {% if update_notification %}
                                                            <input class="form-check-input notification-settings" data-notification-type="update_notification" type="checkbox" role="switch" id="update_notification" checked/>
                                                        {% else %}
                                                            <input class="form-check-input notification-settings" data-notification-type="update_notification" type="checkbox" role="switch" id="update_notification"/>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--end tab-pane-->
                                <div class="tab-pane" id="account" role="tabpanel">
                                    <div>
                                        <h5 class="card-title text-decoration-underline mb-3">Delete This Account:</h5>
                                        <p class="text-muted">Deleting your account will delete <span class="text-decoration-underline text-danger">all information</span> related to the account! Please make sure you are doing it right.</p>
                                        <div class="hstack gap-2 mt-3">
                                            <button type="button" class="btn btn-soft-danger" data-bs-toggle="modal" data-bs-target="#exampleModalgrid">
                                                Delete This Account
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <!--end tab-pane-->

                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

<!-- Grids in modals -->

<div class="modal fade" id="exampleModalgrid" tabindex="-1" aria-labelledby="exampleModalgridLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalgridLabel">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="fs-15">
                    Deleting your account will delete all information related to the account!
                </h5>
                <p>Including: </p>
                <ul>
                    <li>Device information</li>
                    <li>Detection event record</li>
                    <li>Operation record</li>
                </ul>
                <HR>
                <div class="row g-3 mt-2">
                    <div class="col-12">
                        <div>
                            <input type="password" class="form-control" id="deleteAccountPassword" placeholder="Enter your password to confirm">
                            <span class="text-danger" id="deleteAccountPasswordNotMatchTips" style="display: none"><i class="las la-exclamation-circle"></i> Passwords Don't Match</span>
                            <span class="text-danger" id="deleteAccountPasswordEmptyTips" style="display: none"><i class="las la-exclamation-circle"></i> Passwords Cannot be empty</span>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" id="deleteAccountConfirm">Delete</button>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'common/js/csrf.js' %}"></script>
    <script src="{% static 'common/libs/cleave.js/cleave.min.js' %}"></script>
    <script src="{% static 'accounts/js/account-settings.js' %}"></script>
{% endblock %}