{% load static %}
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-layout-mode="dark">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Sign in | WSS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Warehouse serveillance system" name="description" />
    <meta content="Haozheng Li" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="{% static 'common/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'common/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'common/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'common/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="auth-page-wrapper pt-5">
        {% block auth_page_bg %}
        <!-- auth page bg -->
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>
        {% endblock %}

        {% block auth_content %}
        {% endblock %}

        {% block footer %}
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0 text-muted">&copy;
                                <script>document.write(new Date().getFullYear())</script> WSS. Develop by Haozheng Li
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
        {% endblock %}
    </div>
    <!-- end auth-page-wrapper -->

    <!-- JAVASCRIPT -->
    <script src="{% static 'common/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'common/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'common/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'common/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'common/js/plugins/lord-icon-2.1.0.js' %}"></script>

    {% block js %}{% endblock %}

    <!-- particles js -->
    <script src="{% static 'common/libs/particles.js/particles.js' %}"></script>
    <!-- particles app js -->
    <script src="{% static 'common/js/particles.app.js' %}"></script>
    <!-- password-addon init -->
    <script src="{% static 'accounts/js/password-addon.init.js' %}"></script>

</body>

</html>